* {
    outline: 0px;
    padding: 0px;
    margin: 0px;
  }
  .App {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background-color: rgb(236, 248, 249);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    gap: 20px;
  }
  .wrapper {
    position: relative;
  }
  nav {
    width: 100%;
    height: 10vh;
    min-height: 50px;
    background-color: rgb(25, 4, 130);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0px;
    z-index: 2;
  }
  .nav-left {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
  }
  .nav-left a {
    font-size: 25px;
  }
  .nav-left .fa-bars {
    margin: 20px;
  }
  .nav-right {
    width: 50%;
    z-index: 3;
    background-color: transparent;
  }
  
  .nav-right > div div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
  }
  
  .home {
    width: 90%;
    margin: 40px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 30%;
    left: 5%;
    transform: translate(0, -50%);
    font-size: 20px;
  }
  .home .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .img,
  .about {
    mix-blend-mode: multiply;
  }
  .home i {
    font-size: 40px;
  }
  .home .img {
    width: 100%;
    height: auto;
  }
  .home .img img {
    width: 100%;
  }
  .about .img {
    width: 50%;
    height: auto;
  }
  .about .img img {
    width: 100%;
    height: 100%;
  }
  
  .about {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin: auto;
    background-color: white;
  }
  
  .about p {
    width: 50%;
    text-align: justify;
    line-height: 4rem;
    font-size: 18px;
    margin: 20px 0px;
  }
  .card,
  button {
    box-shadow: 1px 1px 4px 0.5px gray;
  }
  .card{
    cursor: pointer;
  }
  .skill-card:hover{
    transform: scale(1.04);
  }
  .skills-con {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .skill-card {
    width: 10%;
    height: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 5%;
    flex-basis: 150px;
  }
  .skill-card i {
    font-size: 80px;
  }
  .skill-card:first-child {
    color: red;
  }
  .skill-card:nth-child(2) {
    color: blue;
  }
  .skill-card:nth-child(3) {
    color: rgb(232, 212, 77);
  }
  .skill-card:nth-child(4) {
    color: rgb(0, 212, 246);
  }
  .skill-card:nth-child(5) {
    color: rgb(204, 52, 53);
  }
  .skill-card:nth-child(6) {
    color: rgb(80, 153, 65);
  }
  .skills {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
  }
  .skill-card .img {
    width: 80%;
    height: 100px;
    margin-top: 10px;
  }
  .skills img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
  }
  .projects-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
    width: 90%;
  }
  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 320px;
    gap: 10px;
    width: 30%;
    height: 450px;
    background-color: white;
  }
  .project-card img {
    width: 100%;
    height: 200px;
  }
  .project-card div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
  }
  .project-card p{
    margin: 0px 5px;
  }
  .project-card button {
    width: 100px;
    height: 50px;
    border-radius: 0px 2px;
  }
  .project-card button:hover{
    box-shadow: 1px 1px 4px 1.2px black;
  }
  .projects {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin: 10px;
  }
  h4 {
    font-weight: 100;
  }
  button {
    font-size: 18px;
    border: 0px;
  }
  .contact {
    width: 85%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px auto;
    background-color: white;
    box-shadow: 1px 1px 4px 0.5px gray;
  }
  .contact h1 {
    margin: 10px;
  }
  .contact div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
  }
  .contact i {
    font-size: 30px;
  }
  .contact span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    cursor: pointer;
  }
  .live {
    background-color: rgb(101, 97, 205);
    color: white;
  }
  footer {
    width: 100%;
    height: 5vh;
    border-top: 1px solid grey;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 1270px) {
    .home {
      flex-direction: column-reverse;
    }
    .home .text {
      position: relative;
      top: 0px;
      left: 0px;
      margin: 0px;
      transform: none;
    }
  }
  @media screen and (max-width: 1075px) {
    .about {
      flex-direction: column;
      justify-content: center;
    }
    .about .img {
      width: 100%;
    }
    .about p {
      width: 100%;
    }
  }
  @media screen and (max-width: 750px) {
    nav i {
      justify-self: flex-start;
    }
    nav {
      flex-direction: column;
      gap: 0px;
      margin-bottom: 0px;
      align-items: center;
    }
    .nav-right {
      width: 100%;
      flex-direction: column;
      background-color: rgb(237, 242, 247);
      margin-top: 0px;
    }
    .nav-right div {
      width: 100%;
      flex-direction: column;
      background-color: rgb(237, 242, 247);
      gap: 15px;
      height: auto;
      margin: 10px;
    }
    .nav-right a {
      color: black;
    }
    .nav-left {
      width: 100%;
      height: auto;
      margin-bottom: 0px;
      justify-content: flex-start;
      align-items: center;
    }
    .nav-right > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .overlay-parent {
      display: flex;
      flex-direction: column;
      background-color: black;
    }
  }
  